*.pdf
*.png
*.h5
*.mp4
*.mem
*.vtu
*.pvd
*.avi
*.ogv
*.mesh
*.bson
*.inp
**/Manifest.toml
out*/
docs/build
docs/src/authors.md
docs/src/code_of_conduct.md
docs/src/contributing.md
public/
coverage/
coverage_report/
*.jl.*.cov
*.jl.cov
*.jl.mem
**/.ipynb_checkpoints/
**/solution_*.txt
**/restart_*.txt
.vscode/

.DS_Store

run
run/*
